@{

    ViewData["Title"] = "Home Page";

}

<h3>Paso 1: Obtener codigo de autorización</h3>

<div class="card text-center">
     <div class="card-header">
         Obtener el codigo de autorizacion
     </div>
     <div class="card-body">

         <p>
             redirige al usuario al servidor de atorizacion para iniciar sesion y ver permisos
         </p>
         <p>

             <a class="btn btn-primary" href="/get/the/authorization/code">
                 Redirigir al server de autorizacion
                 </a>
             
         </p>
     </div>

</div>
